.App {
  text-align: center;
}

.content {
  position: relative;
  display: flex;
  justify-content: center;
}
/*Header*/
.App-header {
  background-color: #222;
  height: auto;
  padding: 10px;
  color: white;
  font-size: 30px;
}

/*Home Page*/
.home-page-article {
  margin: 10px;
  background-color: lightgrey;
  height: auto;
  width: 60vw;
  position: relative;
}

.home-page-article:hover {
  opacity: 0.5;
}

/*Weather*/
.weather {
  list-style-type: none;
  position: relative;
  display: inline-table;
  height: auto;
  width: auto;
  margin: 10px;
  background-color: lightgrey;
}

.weather:hover {
  opacity: 0.5;
}

.full-weather {
  padding: 10px;
}

.weather-image {
  height: 50px;
  width: 50px;
  display: inline-flex;
}

.weather-location {
  font-weight: bolder;
  font-size: 20px;
}

.current-temp {
  font-weight: lighter;
  font-size: 30px;
}

.weather-temp {
  padding-left: 10px;
  display: inline-block;
  text-align: center;
}

.weather-logo {
  width: 130px;
  height: 80px;
  margin: auto;
}

/*News Grid */
.articles {
  position: relative;
  list-style-type: none;
  display: inline-flex;
  justify-content: center;
  flex-wrap: wrap;
}

.full-article-grid {
  margin: 10px;
  background-color: lightgrey;
  height: auto;
  position: relative;
  width: 250px;
}

.full-article-grid:hover {
  opacity: 0.5;
}

a.article-link {
  height: 100%;
}

.article {
  padding: 10px;
  width: inherit;
  height: 100%;
  position: relative;
}

/*Article Information*/
.title {
  font-weight: bold;
  font-size: larger;
  margin: 5px;
}

.image {
  background-position: center;
  background-size: cover;
  height: 100%;
  width: 100%;
}

.article-image {
  display: inline-flex;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 210px;
  height: 140px;
  background-repeat: no-repeat;
}

.home-page-image {
  display: inline-flex;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 95%;
  height: 60vh;
  min-height: 350px;
  background-repeat: no-repeat;
}

.no-image {
  background-image: url('../Images/nytimeslogo.jpeg');
  height: 100%;
  width: 100%;
  background-size: auto;
  background-position: center;
  background-repeat: no-repeat;
  display: inline-block;
}

/*NY Times API Information*/
.DataByImage {
  position: absolute;
  background-image: url('../Images/DataBy.png');
  width: 150px;
  height: 30px;
  background-repeat: no-repeat;
  right: 0;
  bottom: 0;
}

/* Loading Spinner */
.loading {
  top: -50px;
  left: -50px;
  position: absolute;
}

.spinner {
  position: relative;
  z-index: 1;
  top: 50vh;
  left: 50vw;
  border: 15px solid darkgray;
  border-top: 15px solid black;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg);}
}
