.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: auto;
  padding: 10px;
  color: white;
}

.articles {
  list-style-type: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.full-article {
  margin: 10px;
  background-color: lightgrey;
  height: auto;
  position: relative;
}

.full-article:hover {
  opacity: 0.5;
}

a.article-link {
  height: 100%;
}

.article {
  padding: 5px;
  width: 250px;
  height: 100%;
  position: relative;
}

.title {
  font-weight: bold;
  font-size: larger;
  margin: 5px;
}

.image {
  margin: 10px;
  display: inline-block;
}

.categories {
    list-style-type: none;
}

.DataByImage {
  background-image: url('../Images/DataBy.png');
  width: 150px;
  height: 30px;
  background-repeat: no-repeat;
  position: absolute;
  right: 0;
}
