.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: auto;
  padding: 10px;
  color: white;
}

.articles {
  list-style-type: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.full-article {
  margin: 10px;
  background-color: lightgrey;
  height: 100%;
  position: relative;
}

.full-article:hover {
  opacity: 0.5;
}

a.article-link {
  height: 100%;
}

.article {
  padding: 10px;
  width: 250px;
  height: 100%;
  position: relative;
}

.main-article {
  width: 60vw;
  height: 100%;
  padding: 10px;
  position: relative;
}

.title {
  font-weight: bold;
  font-size: larger;
  margin: 5px;
}

.image {
  background-position: center;
  background-size: cover;
  height: 100%;
  width: 100%;
}

.article-image {
  display: inline-flex;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 210px;
  height: 140px;
  background-repeat: no-repeat;
}

.main-image {
  display: inline-flex;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 95%;
  height: 60vh;
  background-repeat: no-repeat;
}

.no-image {
  background-image: url('../Images/nytimeslogo.jpeg');
  margin: 10px;
  height: 100%;
  width: 100%;
  background-size: auto;
  background-position: center;
  background-repeat: no-repeat;
  display: inline-block;
}

.categories {
    list-style-type: none;
}

.DataByImage {
  background-image: url('../Images/DataBy.png');
  width: 150px;
  height: 30px;
  background-repeat: no-repeat;
  position: absolute;
  right: 0;
}
